* {
    box-sizing: border-box
}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;

}

.clearfix {
    overflow: auto;
}

/* Style tab links */
.tablink {
    background-color: #6fb269;
    color: #e6ffe4;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #ceffc9;
    color: #293328;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #e2ffdf;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

h3, p, a {
    color: #293328;
}


#Home {
    background-color: #f0ffee;
}

#Calorie_table {
    background-color: #f0ffee;
    height: auto;
}

#MyProfile {
    background-color: #f0ffee;
    margin: 0 auto;

}

#About {
    background-color: #f0ffee;
}

.add_input{
    width: 100px;
}